{
    "swagger": "2.0",
    "info": {
        "description": "瞬捷云 captcha-api 验证码服务api",
        "title": "瞬捷云验证码服务api",
        "termsOfService": "https://www.shunjiecloud.com",
        "contact": {
            "name": "zhoushengjie",
            "url": "https://www.shunjiecloud.com",
            "email": "zhou_shengjie@outlook.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0"
    },
    "host": "api.shunjiecloud.com",
    "basePath": "/",
    "paths": {
        "/captcha/v1/captcha": {
            "get": {
                "description": "获取验证码地址。",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "验证码"
                ],
                "summary": "获取验证码地址",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/schemas.GetCaptchaResponse"
                        }
                    }
                }
            }
        },
        "/captcha/v1/captcha/{filename}": {
            "get": {
                "description": "根据验证码地址，获取验证码图片。",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "image/png"
                ],
                "tags": [
                    "验证码"
                ],
                "summary": "验证码图片",
                "parameters": [
                    {
                        "type": "string",
                        "description": "验证码图片名，例如：o5CaUbWHwjRUg6tyYrBW.png",
                        "name": "filename",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "验证码图片"
                    },
                    "400": {
                        "description": "404 page not found",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "schemas.GetCaptchaResponse": {
            "type": "object",
            "properties": {
                "captcha_id": {
                    "type": "string"
                },
                "captcha_url": {
                    "type": "string"
                }
            }
        }
    }
}